header{display: flex;background-color: green;
}
div{display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 200px;
}
button{margin: 2px;}
h1{color: white;}
h2{color: white;align-self: flex-end;}