body{display: flex;
background-color: blueviolet;}
#recomendaciones{box-sizing: content-box; width: 70%;height: auto;
margin: 10px;
background-color: green;
border-radius: 20px;}
h2{color: blueviolet;}
ul{color: blueviolet;}